
@{
    ViewData["Title"] = "Index";
}

<h2>DemoA Index</h2>

<form asp-action="TestCaptcha">
    <captcha asp-captcha-name="mycaptcha" 
             asp-placeholder="Security code as a number"
             asp-font-name="Tahoma"
             asp-font-size="20"
             asp-fore-color="#333333"
             asp-back-color="#ccc"
             asp-text-box-class="text-box single-line form-control col-md-4"
             asp-text-box-template="<div class='input-group col-md-4'><span class='input-group-addon'><span class='glyphicon glyphicon-lock'></span></span>{0}</div>"
             asp-refresh-button-class="glyphicon glyphicon-refresh btn-sm"
    />
    <button type="submit">submit</button>
</form>